.top-center-div {
  margin: auto;
}
.top-center-div h4 {
  margin: 0;
}
.navbar-brand {
  padding: 0;
  display: flex;
  align-items: center;
}
.navbar-brand img {
  height: 1.8rem;
}
span.dropdown-item {
  cursor: default;
}
span.dropdown-item:hover {
  background: none;
}
.info-box {
  display: flex;
  flex-wrap: wrap;
  padding: 1.25rem 0.5rem;
}
.info-box h2 {
  margin: 0 0 0.3rem;
}
.info-box i {
  color: #2196f3;
}
.info-link {
  padding: 0.7rem 1.25rem;
  background-color: #edf0f2;
  color: #2196f3;
  font-size: 1rem;
}
.info-icon {
  background-color: #edf0f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.table.text-nowrap th {
  text-transform: uppercase;
  font-size: 0.9rem;
}
.table.text-nowrap td {
  font-size: 0.9rem;
}
.badge.badge-pill {
  font-size: 0.9rem;
  padding: 0.5rem 0.7rem;
}
.icon-shield-check {
  font-size: 1.2rem;
}
.icon-pencil5 {
  color: #333;
}
.icon-comments,
.icon-list {
  cursor: pointer;
}
.file-name {
  font-weight: 600;
  margin-bottom: 5px;
  display: inline-block;
}
.fa-14x {
  font-size: 1.4rem;
}
.tab-show {
  display: none;
}
.agent-top-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.agent-top-right div {
  display: flex;
  flex-direction: row;
}
.transcript-flexbox {
  display: flex;
  flex-direction: row;
  margin: 0 0 2.5rem;
}
.speaker-box {
  background-color: #fdfdfd;
  border: 1px solid #ddd;
  border-right-width: 0;
  box-shadow: -3px 0 0 0 #2196f3 inset;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 1rem;
  border-radius: 5px;
  margin: 0 0 0 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.arrow-left {
  position: relative;
}
.arrow-left:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #2196f3;
  border-width: 10px;
  margin-top: -10px;
}
.media-list li {
  align-items: center;
}
.my-custom-scrollbar {
  position: relative;
  width: 100%;
  overflow: auto;
  padding: 0 1.5rem 0 0;
}
.my-custom-scrollbar-primary {
  height: 600px;
}
.my-custom-scrollbar-secondary {
  height: 100px;
}
.padding-1 {
  padding: 0.75rem 1.25rem;
}
h5.analytics-title {
  margin: 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
}
.keywords-ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.keywords-ul li {
  margin: 0 0.7rem 0.7rem 0;
  background-color: #f4f4f4;
  padding: 0.3rem 0.6rem;
  list-style: none;
  border-radius: 3px;
  border: 1px solid #ddd;
}
.select-search {
  display: block;
  min-width: 180px;
}
.rounded-circle.bg-indigo-400 {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) and (max-width: 1199.98px) {
  .tab-hide {
    display: none;
  }
  .navbar {
    padding: 0;
  }
  .navbar-expand-md {
    flex-flow: wrap;
  }
  .tab-show {
    display: inline;
  }
  .tab-navbar-top {
    width: 100%;
    float: left;
    display: flex;
    flex-wrap: wrap;
  }
  .navbar-light .navbar-brand {
    padding-left: 1rem;
  }
  .tab-navbar-top .navbar-nav {
    flex: 1;
  }
  .tab-navbar-top .top-center-div {
    margin: initial;
    padding-right: 1rem;
    display: flex;
    align-items: center;
  }
  .top-center-div h5 {
    margin: 0;
  }
}
@media (max-width: 767.98px) {
  .navbar-brand {
    padding: 1rem 0 0;
  }
  .card-header.header-elements-inline {
    flex-direction: column;
    align-items: flex-start;
  }
  .card-title {
    padding-bottom: 10px;
  }
}
